@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.c-btn {
  display: inline-block;
  @include font.DIN-bold;
  font-size: rem.rem(20px);
  letter-spacing: 0.1em;
  line-height: 1;
  color: #142474;
  background-color: #ffffff;
  border: 1px solid transparent;
  text-align: center;
  @include responsive.responsive(lg) {
    font-size: rem.rem(24px);
  }

  &:focus,
  &:hover {
    transition: 0.3s;
    color: #142474;
    background-color: #ffffff;
    border: 2px solid #142474;
  }
}

.c-rounded-btn {
  display: inline-block;
  position: relative;
  transition: 0.3s;
  background-color: #142474;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 34px;
  @include font.DIN;
  color: #ffffff;
  font-size: rem.rem(14px);
  @include responsive.responsive(lg) {
    font-size: rem.rem(17px);
  }
  &:focus,
  &:hover {
    transition: 0.3s;
    color: #142474;
    background-color: #ffffff;
    border: 2px solid #142474;
  }
}
