@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.c-btn {
  display: inline-block;
  @include font.mincho;
  font-size: rem.rem(16px);
  letter-spacing: 0em;
  line-height: 1;
  color: #ffffff;
  background-color: #a29c00;
  border: 1px solid transparent;
  text-align: center;

  &:focus,
  &:hover {
    transition: 0.3s;
    color: #a29c00;
    background-color: #ffffff;
    border: 1px solid #a29c00;

    &::before {
      background: #a29c00;
    }
  }

  &--arrow {
  }
}

.c-btn {
  &--arrow {
    @include responsive.responsive(xl) {
      position: relative;
      &::before {
        position: absolute;

        content: "";
        vertical-align: middle;
        right: 18px;
        top: 13px;
        width: 25px;
        height: 1px;
        background: #ffffff;
        &:focus,
        &:hover {
          background: #a29c00;
        }
      }

      &::after {
        position: absolute;
        content: "";
        right: 17px;
        top: 10px;
        width: 8px;
        height: 0;
        border-top: 1px solid #ffffff;
        transform: rotate(45deg);
      }
    }
    &:focus,
    &:hover {
      &::before {
        background: #a29c00;
      }
      &::after {
        border-top: 1px solid #a29c00;
      }
    }
  }
}
