@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.c-heading {
  &--en {
    @include font.DIN;
    font-size: rem.rem(24px);
    letter-spacing: 0.01em;
    line-height: 1;

    @include responsive.responsive(lg) {
      font-size: rem.rem(36px);
      letter-spacing: 0.05em;
      line-height: 1;
    }
    @include responsive.responsive(xl) {
      font-size: rem.rem(42px);
      letter-spacing: 0.05em;
      line-height: 1;
    }
  }
  &--jp {
    @include font.gothic-bold;
    color: #142474;
    font-size: rem.rem(10px);
    letter-spacing: 0.1em;
    line-height: 1;
    @include responsive.responsive(lg) {
      font-size: rem.rem(14px);
      letter-spacing: 0.1em;
      line-height: 1;
    }
    @include responsive.responsive(xl) {
      font-size: rem.rem(21px);
      letter-spacing: 0.1em;
      line-height: 1;
    }
  }
}

.c-heading-child {
  &--en {
    @include font.DIN;
    font-size: rem.rem(36px);
    letter-spacing: 0em;
    line-height: 1;

    // @include responsive.responsive(lg) {
    //   font-size: rem.rem(40px);
    //   letter-spacing: 0em;
    //   line-height: 1;
    // }
    @include responsive.responsive(xl) {
      font-size: rem.rem(45px);
      letter-spacing: 0em;
      line-height: 1;
    }
  }
  &--jp {
    @include font.gothic-bold;
    color: #142474;
    font-size: rem.rem(14px);
    letter-spacing: 0.1em;
    line-height: 1;
    // @include responsive.responsive(lg) {
    //   font-size: rem.rem(14px);
    //   letter-spacing: 0.1em;
    //   line-height: 1;
    // }
    @include responsive.responsive(lg) {
      font-size: rem.rem(16px);
      letter-spacing: 0.1em;
      line-height: 1;
    }
  }
}
