@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.c-heading {
  $block: &;
  padding-top: 25px;
  padding-bottom: 25px;
  @include responsive.responsive(xl) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;

  &__sub {
    display: flex;
    margin-bottom: 15px;
    @include responsive.responsive(xl) {
      margin-bottom: 40px;
    }

    #{$block}__num {
      margin-right: 15px;
      color: #505050;
      @include font.expo;
      font-size: rem.rem(15px);
      letter-spacing: 0em;
      line-height: 1;

      @include responsive.responsive(xl) {
        font-size: rem.rem(19px);
        letter-spacing: 0em;
        line-height: 1;
      }
    }

    #{$block}__jp {
      color: #505050;
      @include font.mincho;
      font-size: rem.rem(16px);
      letter-spacing: 0em;
      line-height: 1;

      @include responsive.responsive(xl) {
        font-size: rem.rem(19px);
        letter-spacing: 0em;
        line-height: 1;
      }
    }
  }

  &__en {
    color: #505050;
    @include font.minion;
    font-size: rem.rem(47px);
    letter-spacing: 0em;

    @include responsive.responsive(xl) {
      font-size: rem.rem(58px);
      letter-spacing: 0em;
      line-height: 1;
    }
  }
}
