@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.c-heading {
  $block: &;

  &__sub {
    display: flex;
    margin-bottom: 15px;
    @include responsive.responsive(xl) {
      margin-bottom: 40px;
    }

    #{$block}__num {
      margin-right: 15px;
      color: #505050;
      @include font.expo;
      font-size: rem.rem(15px);
      letter-spacing: 0em;
      line-height: 1;

      @include responsive.responsive(xl) {
        font-size: rem.rem(19px);
        letter-spacing: 0em;
        line-height: 1;
      }
    }

    #{$block}__jp {
      color: #505050;
      @include font.mincho;
      font-size: rem.rem(16px);
      letter-spacing: 0em;
      line-height: 1;

      @include responsive.responsive(xl) {
        font-size: rem.rem(19px);
        letter-spacing: 0em;
        line-height: 1;
      }
    }
  }

  &__en {
    color: #505050;
    @include font.minion;
    font-size: rem.rem(47px);
    letter-spacing: 0em;

    @include responsive.responsive(xl) {
      font-size: rem.rem(58px);
      letter-spacing: 0em;
      line-height: 1;
    }
    &--initial {
      color: #a29c00;
    }
  }

  position: relative;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -26px;
    // left: 0;
    width: calc(100%);
    height: 1px;
    background: #c6c6c6;
    @include responsive.responsive(xl) {
      top: -52px;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -26px;
    // left: 0;
    width: calc(100%);
    height: 1px;
    background: #c6c6c6;
    @include responsive.responsive(xl) {
      bottom: -52px;
    }
  }
}
