@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.c-logo {
  font-size: rem.rem(24px);
  letter-spacing: -0.03em;
  line-height: 1;
  color: #505050;

  @media screen and (min-width: 980px) {
    font-size: rem.rem(30px);
  }

  @include responsive.responsive(xxl) {
    font-size: rem.rem(36px);
  }
  a {
    padding: 5px;
  }
}
