@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.c-logo {
  @include font.expo;
  font-size: rem.rem(19px);
  letter-spacing: 0em;
  line-height: 1;
}
