@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.c-lead {
  @include font.mincho;
  font-size: rem.rem(20px);
  letter-spacing: 0em;
  line-height: 1;

  @include responsive.responsive(xl) {
    font-size: rem.rem(26px);
    letter-spacing: 0em;
    line-height: 1;
  }
}

.c-title {
  @include font.mincho;
  font-weight: 500;
  font-size: rem.rem(18px);
  letter-spacing: 0em;
  line-height: 1;
}

.c-text {
  @include font.gothic;
  font-size: rem.rem(15px);
  letter-spacing: 0.15em;
  line-height: 2;
}
