$breakpoints: (
  "xs": (
    min-width: 0,
  ),
  "sm": (
    min-width: 390px,
    //デザインデータ
  ),
  "md": (
    min-width: 520px,
    //tabの最低サイズ
  ),
  "lg": (
    min-width: 640px,
    //free
  ),
  "xl": (
    min-width: 960px,
    //pcの最低サイズ
  ),
  "xxl": (
    min-width: 1200px,
    //デザインデータ
  ),
  "xxxl": (
    min-width: 1366px,
    //デザインデータ
  ),
) !default;
