@use "../../utility/responsive" as responsive;
@use "../../utility/vw" as vw;
@use "../../utility/rem" as rem;

.l-cont-page {
  padding-top: 140px;
  padding-bottom: 100px;
  @include responsive.responsive(lg) {
    padding-top: 160px;
    padding-bottom: 200px;
  }
  //inner
  &__inner {
    padding-right: vw.vw(20px);
    padding-left: vw.vw(20px);
    margin-right: auto;
    margin-left: auto;

    @include responsive.responsive(lg) {
      padding-right: 20px;
      padding-left: 20px;
      width: 100%;
      max-width: calc(1360px + 80px * 2);
    }
  }

  &--contact {
    &__inner {
      width: calc(100% * 390 / 390);
      @include responsive.responsive(lg) {
        max-width: calc(1360px + 80px * 2);
      }
    }
  }

  &--about-us {
    &__inner {
      width: calc(100% * 350 / 390);
      @include responsive.responsive(lg) {
        width: calc(100% * 940 / 1366);
        max-width: calc(1366px + 20px * 2);
      }
    }
  }

  &--works {
    &__inner {
      width: calc(100% * 390 / 390);

      // @include responsive.responsive(lg) {
      //   width: calc(640px);
      // }
      // @include responsive.responsive(xl) {
      //   width: calc(960px);
      // }
      @include responsive.responsive(lg) {
        width: calc(100% * 940 / 1366);
        max-width: calc(1366px + 20px * 2);
      }
    }
  }
}

.l-cont {
  // &-- {
  //   padding-top: 147px;
  //   padding-bottom: 148px;
  //   @include responsive.responsive(lg) {
  //     padding-top: 108px;
  //     padding-bottom: 310px;
  //   }
  // }

  //inner
  &__inner {
    // padding-right: vw.vw(20px);
    // padding-left: vw.vw(20px);

    // @include responsive.responsive(lg) {
    //   padding-right: 20px;
    //   padding-left: 20px;
    //   margin-right: auto;
    //   margin-left: auto;
    //   max-width: calc(1366px + 80px * 2);
    // }
  }
}
