@use "../../utility/responsive" as responsive;
@use "../../utility/vw" as vw;
@use "../../utility/rem" as rem;

.l-cont-page {
  $block: &;
  //inner
  &__inner {
    width: calc(100% * 350 / 390);
    margin-right: auto;
    margin-left: auto;
    @include responsive.responsive(lg) {
      width: calc(100% * 1100 / 1366);
    }
  }

  &--about-us {
    &-heading {
      padding-top: 176px;
      padding-bottom: 98px;
      @include responsive.responsive(xl) {
        padding-top: 252px;
        padding-bottom: 87px;
      }
      &__inner {
      }
    }
    &-greeting {
      padding-bottom: 117px;
      @include responsive.responsive(xl) {
        padding-bottom: 140px;
      }
      &__inner {
        @include responsive.responsive(xl) {
          width: calc(100% * 660 / 1366);
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
    &-information {
      padding-bottom: 210px;
      @include responsive.responsive(xl) {
        padding-bottom: 330px;
      }
      &__inner {
        @include responsive.responsive(xl) {
          width: calc(100% * 536 / 1100);
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
  &--service {
    &-heading {
      padding-top: 175px;
      padding-bottom: 124px;
      @include responsive.responsive(xl) {
        padding-top: 174px;
        padding-bottom: 164px;
      }
      &__inner {
      }
    }
    &-service {
      padding-bottom: 108px;
      @include responsive.responsive(xl) {
        padding-bottom: 152px;
      }
    }

    &-etc {
      padding-bottom: 108px;
      @include responsive.responsive(xl) {
        padding-bottom: 190px;
      }
    }
    &-flow {
      padding-bottom: 154px;
      @include responsive.responsive(xl) {
        padding-bottom: 260px;
      }
    }
  }
}
