@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.p-business {
  $block: &;

  &__inner {
    width: calc(100% * 350 / 390);
    margin-right: auto;
    margin-left: auto;

    @include responsive.responsive(xl) {
      display: flex;
      justify-content: space-between;
      width: calc(100% * 1100 / 1366);
    }
  }
  &__body {
    @include responsive.responsive(xl) {
      width: calc(100% * 722 / 1100);
    }
    #{$block}__list {
      position: relative;
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        z-index: -2;
        bottom: 0;
        left: calc(100% * 67 / 350);
        width: 1px;
        height: 100%;
        background: #d5d5d5;

        @include responsive.responsive(xl) {
          left: calc(100% * 86 / 718);
        }
      }
      #{$block}__item {
        display: flex;
        justify-content: space-between;
        @include responsive.responsive(lg) {
          align-items: center;
        }
      }
    }
    #{$block}__img-area {
      width: calc(100% * 130 / 350);
      @include responsive.responsive(xl) {
        width: calc(100% * 172 / 651);
      }
    }
    #{$block}__text-area {
      width: calc(100% * 190 / 350);
      @include responsive.responsive(xl) {
        width: calc(100% * 410 / 651);
      }
      #{$block}__heading {
        position: relative;
        @include font.gothic;
        font-size: rem.rem(17px);
        line-height: calc(29 / 17);
        @include responsive.responsive(xl) {
          line-height: 1;
        }
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          bottom: -10px;
          // left: 0;
          width: 32px;
          height: 1px;
          background: #a29c00;
        }
      }
      #{$block}__body-area {
        &__list {
        }
        &__item {
          &:nth-of-type(1) {
            display: flex;
          }

          @include responsive.responsive(xl) {
            display: flex;
            align-items: flex-start;
          }
          .c-title {
            flex-shrink: 0;
            margin-right: 20px;
            font-size: rem.rem(15px);
            line-height: 1;
          }
          .c-text {
            margin-top: -7px;
            margin-bottom: -7px;
            font-size: rem.rem(14px);
            @include responsive.responsive(xl) {
              font-size: rem.rem(15px);
            }
          }
          // #{$block}__address {
          //   line-height: 1;
          // }
          // #{$block}__desc {
          //   line-height: calc(24 / 14);
          // }
        }
      }
    }
    .c-link--centerline {
      width: 90%;
      margin-left: auto;
    }
    .span {
      padding-left: 20px;
    }
  }
}
