@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.p-contact {
  $block: &;
  &__inner {
    @include responsive.responsive(xl) {
      position: relative;
    }
    #{$block}__img-area {
      position: relative;
      z-index: -2;
      margin-bottom: calc(100% * (-180) / 390);
      @include responsive.responsive(lg) {
        margin-bottom: -26%;
      }
      @include responsive.responsive(xl) {
        margin-bottom: 0;
      }
    }
    #{$block}__text-area {
      margin-right: auto;
      margin-left: auto;
      width: calc(100% * 350 / 390);
      max-width: 430px;
      padding-top: 44px;
      padding-right: 20px;
      padding-bottom: 50px;
      padding-left: 20px;
      background: #fff;
      opacity: 0.9;
      @include responsive.responsive(xl) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% * 1100 / 1366);
        max-width: none;
        padding-top: 75px;
        padding-right: 70px;
        padding-bottom: 75px;
        padding-left: 190px;
      }
      @include responsive.responsive(xxl) {
        padding-top: 86px;
        padding-right: 70px;
        padding-bottom: 86px;
        padding-left: 100px;
      }
      .c-heading {
      }
      #{$block}__message {
        @include font.gothic;
        font-weight: 500;
        font-size: rem.rem(15px);
        letter-spacing: 0em;
        line-height: 1;
        @include responsive.responsive(xl) {
          font-size: rem.rem(19px);
        }
      }
      #{$block}__body {
        @include responsive.responsive(xl) {
          width: 60%;
        }
        @include responsive.responsive(xxl) {
          width: auto;
        }
        #{$block}__text {
          @include font.gothic;
          font-weight: 500;
          font-size: rem.rem(16px);
          letter-spacing: 0em;
          line-height: calc(27 / 16);
        }
        .c-btn {
          padding-top: 20px;
          padding-bottom: 20px;
          width: 100%;
          @include responsive.responsive(xl) {
            width: calc(100% * 344 / 563);
          }
        }
      }
    }
  }
}
