@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.p-contact {
  $block: &;
  &-top__wrapper {
    background-color: #071453;
  }
  #{$block}-top {
    // position: relative;
    // padding-top: 120px;
    // padding-top: calc(100% * 80 / 791);
    padding-top: 80px;
    // padding-bottom: 120px;
    // padding-bottom: calc(100% * 60 / 791);
    padding-bottom: 60px;
    width: 100%;

    @include responsive.responsive(lg) {
      padding-top: 160px;
      padding-bottom: 160px;
      // height: calc(100vh - 63px);
    }
    #{$block}__inner {
      width: calc(100% * 310 / 390);
      margin-left: auto;
      margin-right: auto;
      #{$block}__heading {
        position: relative;
        text-align: center;
        &::before {
          position: absolute;
          content: "";
          display: inline-block;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
          width: 18px;
          height: 12px;
          background-image: url(../img/mail.svg);
          background-size: cover;
          vertical-align: middle;
          @include responsive.responsive(lg) {
            top: -30px;
            width: 27px;
            height: 18px;
          }
        }
        &--en {
          color: #ffffff;
        }
        &--jp {
          color: #ffffff;
        }
      }

      #{$block}__body {
        @include responsive.responsive(lg) {
          display: flex;
          justify-content: space-between;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          max-width: 900px;
        }
        #{$block}__primary {
          @include responsive.responsive(lg) {
            width: calc((100% - 50px / 2) / 2);
          }
        }
        #{$block}__secondary {
          @include responsive.responsive(lg) {
            width: calc((100% - 50px / 2) / 2);
          }
        }
        #{$block}__item {
          #{$block}__title {
            @include font.gothic-bold;
            font-size: rem.rem(14px);
            letter-spacing: 0.1em;
            line-height: 1;
            color: #ffffff;

            @include responsive.responsive(lg) {
              font-size: rem.rem(17px);
              letter-spacing: 0.1em;
              line-height: 1;
            }
          }
          #{$block}__textbox {
            width: 100%;
            height: 40px;
            background-color: #ffffff;
          }
          #{$block}__textarea {
            width: 100%;
            height: 140px;
            background-color: #ffffff;
            @include responsive.responsive(lg) {
              height: 240px;
            }
          }
        }
      }

      #{$block}__btn-unit {
        text-align: center;
        #{$block}__btn {
          padding-top: 20px;
          padding-bottom: 20px;
          max-width: 100%;
          width: 250px;

          @include responsive.responsive(lg) {
            width: 300px;
          }
        }
      }
    }
  }
}
