@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.p-feature__round {
  &-unit {
    position: absolute;
    top: 150px;
    left: -80px;
    pointer-events: none;
  }
  position: relative;
  width: 307px;
  height: 240px;
  animation: rotate-anime 50s linear infinite;

  &__small {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-color: rgba(17, 69, 138, 0.5);
  }
  &__large {
    position: absolute;
    top: 50px;
    left: 116px;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    background-color: rgba(20, 36, 116, 0.6);
  }

  @keyframes rotate-anime {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.p-feature {
  $block: &;
  &__inner {
    position: relative;
    @include responsive.responsive(lg) {
      display: flex;
    }
    #{$block}__heading {
      @include responsive.responsive(lg) {
        width: 50%;
      }
      &--en {
        span {
          position: relative;
          &::after {
            content: "3";
            display: inline-block;
            position: absolute;
            top: 1px;
            right: -7px;
            @include font.DIN-bold;
            font-size: rem.rem(12px);
            letter-spacing: 0;
            line-height: 1;

            @include responsive.responsive(lg) {
              top: -1px;
              right: -27px;
              font-size: rem.rem(24px);
              letter-spacing: 0;
              line-height: 1;
            }
          }
        }
      }
      &--jp {
      }
    }

    #{$block}__body {
      padding-left: 65px;
      @include responsive.responsive(lg) {
        width: 50%;
        padding-left: 0;
      }
      #{$block}__unit {
        #{$block}__title {
          &--en {
          }

          &--jp {
          }
          position: relative;
          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: -8px;
            left: -43px;
            @include font.DIN-light;
            font-size: rem.rem(40px);
            letter-spacing: 0;
            line-height: 1;

            @include responsive.responsive(lg) {
              bottom: -9px;
              left: -60px;
              font-size: rem.rem(53px);
              letter-spacing: 0;
              line-height: 1;
            }
          }
          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0px;
            left: -20px;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background: #142474;

            @include responsive.responsive(lg) {
              left: -30px;
            }
          }
        }
        #{$block}__text {
        }
      }

      :nth-child(1) {
        #{$block}__title {
          &::before {
            content: "1";
          }
        }
      }
      :nth-child(2) {
        #{$block}__title {
          &::before {
            content: "2";
          }
        }
      }

      :nth-child(3) {
        #{$block}__title {
          &::before {
            content: "3";
          }
        }
      }
    }
  }
}
