@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.p-footer {
  $block: &;
  text-align: center;

  &__inner {
    display: inline-block;
    padding-top: 34px;
    border-top: 1px solid #000;
    max-width: 220px;
    #{$block}__copyright {
      @include font.minion;
      font-size: rem.rem(13px);
      letter-spacing: 0em;
      line-height: 1;
    }
  }
}
