@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.p-footer {
  text-align: center;
  &__copyright {
    @include font.DIN;
    font-size: rem.rem(12px);
    letter-spacing: 0.01em;
    line-height: 1;
    color: #ffffff;

    @include responsive.responsive(lg) {
      font-size: rem.rem(13px);
      letter-spacing: 0.05em;
      line-height: 1;
    }
  }
}
