@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.fixedClass {
  color: #ffffff;
}

.p-header {
  $block: &;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #{$block}__logo {
    }
    #{$block}__burger {
      #{$block}__bar {
        text-align: right;
        span {
          display: block;
          height: 2px;
          width: 33px;
          background-color: #707070;
          transition: 0.5s;

          &:nth-child(1) {
            margin-bottom: 5px;
          }
          &:nth-child(2) {
            width: 24px;
            margin-bottom: 7px;
            margin-left: auto;
          }
        }
      }
      #{$block}__menu {
        @include font.expo;
        font-size: rem.rem(12px);
        letter-spacing: 0.05em;
        line-height: 1;
        color: #6f6f6f;
      }
    }
    .is__active {
    }

    #{$block}-pc {
      #{$block}__nav {
        display: flex;
        align-items: center;
        #{$block}__list {
          display: flex;
          align-items: center;
          #{$block}__item {
            a {
              @include responsive.responsive(lg) {
                @include font.expo;
                font-size: rem.rem(15px);
                letter-spacing: 0em;
                line-height: 1;
              }
            }
          }
        }
      }
    }
  }
  &--fixed {
    #{$block}__logo {
      color: #ffffff;
    }
    #{$block}__item a {
      color: #ffffff;
    }
    #{$block}__btn {
      a {
        color: #142474;
        background-color: #ffffff;
      }
    }
    #{$block}__burger {
      span {
        background-color: #ffffff;
      }
    }
  }
}

.is__fixed {
  overflow: hidden;
}

.p-burger-view {
  $block: &;

  position: fixed;
  top: 0;
  left: -200%;
  z-index: 5;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  transition: all 1s;

  #{$block}__menu {
    @include position.center;
    display: flex;
    flex-direction: column;

    width: calc(100% * 350 / 390);
    height: calc(100vh - 40px);
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 60px;
    padding-left: 50px;
    background-color: #fff;
    #{$block}__close {
      text-align: right;
      p {
        display: inline-block;
        @include font.expo;
        font-size: rem.rem(12px);
        letter-spacing: 0.05em;
        line-height: 1;
      }
    }
    #{$block}__logo {
      color: #ffffff;
    }
    #{$block}__nav {
      #{$block}__list {
        display: flex;
        flex-direction: column;
        #{$block}__item {
          a {
            display: inline-block;
            @include font.expo;
            font-size: rem.rem(18px);
            letter-spacing: 0.06em;
            line-height: 1;
            color: #707070;
          }
        }
      }
    }
  }
}

.is__open {
  left: 0;
  transition: all 1s;
}
