@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.p-header {
  $block: &;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #{$block}__logo {
    }
    //listとbtnを横並び
    #{$block}__nav {
      display: flex;
      align-items: center;
      //itemを横並び
      #{$block}__list {
        display: flex;
        align-items: center;

        #{$block}__item {
          a {
            display: block;
            padding-top: 46px;
            padding-bottom: 44px;
            padding-left: 5px;
            padding-right: 5px;
            font-size: rem.rem(17px);
            letter-spacing: 0em;
            line-height: 1;
          }
          &--arrow {
            padding-right: 15px;
            a {
              position: relative;
              &::after {
                position: absolute;
                content: "";
                top: 47%;
                right: -6px;
                display: block;
                width: 5px;
                height: 8px;
                background-image: url(../../img/arrow.svg);
                background-size: contain;
                background-repeat: no-repeat;
                transform: rotate(90deg);
                transition: 0.3s;
                transform-origin: center center;
              }
              &:hover {
                &::after {
                  transform: rotate(-90deg);
                  transition: 0.3s;
                  transform-origin: center center;
                }
              }
            }
          }
        }
      }
      #{$block}__btn {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 25px;
        padding-right: 77px;
        border-radius: 10px;
        text-align: left;

        position: relative;
        &::before {
          position: absolute;
          content: "";
          vertical-align: middle;
          right: 24px;
          top: 50%;
          width: 12px;
          height: 1px;
          background: #ffffff;
          &:focus,
          &:hover {
            background: #81f785;
          }
        }

        &::after {
          position: absolute;
          content: "";
          right: 24px;
          top: 45%;
          width: 6px;
          height: 6px;
          border-top: 1px solid #fff;
          border-right: 1px solid #fff;
          transform: rotate(45deg);
        }

        &:focus,
        &:hover {
          &::before {
            background: #81f785;
          }
          &::after {
            border-top: 1px solid #81f785;
            border-right: 1px solid #81f785;
          }
        }
      }
    }
  }
}

.p-header-contents {
  $contents: &;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  &__inner {
    padding-top: 70px;
    padding-bottom: 130px;
    width: calc(100% * 1360 / 1440);
    margin-right: auto;
    margin-left: auto;
  }

  &__heading {
    font-size: rem.rem(32px);
    letter-spacing: 0.05em;
    line-height: 1;
  }
  #{$contents}__body {
    display: flex;
    justify-content: space-between;

    #{$contents}__area {
      width: 23%;
      word-wrap: break-word;

      font-size: rem.rem(18px);
      letter-spacing: 0.05em;
      line-height: 1.3;

      #{$contents}__title {
        font-size: rem.rem(24px);
        letter-spacing: 0.05em;
        line-height: 1;

        //下線
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          bottom: -30px;
          left: 0;
          width: calc(100%);
          height: 1px;
          background: #000;
        }
      }
      #{$contents}__list {
        #{$contents}__item {
          padding-left: 50px;
          font-size: rem.rem(18px);
          letter-spacing: 0.05em;
          line-height: 1;
          position: relative;
          //矢印
          &::before {
            position: absolute;
            content: "";
            vertical-align: middle;
            left: 4px;
            top: 6.5px;
            width: 25px;
            height: 1px;
            background: #000;
          }
          &::after {
            position: absolute;
            content: "";
            vertical-align: middle;
            left: 21px;
            top: 3px;
            width: 8px;
            height: 8px;
            border-top: 1px solid #000;
            border-right: 1px solid #000;
            transform: rotate(45deg);
          }
        }
      }
      &--half {
        width: 50%;
      }
      #{$contents}__media {
        display: flex;
        justify-content: space-between;
        #{$contents}__img-wrapper {
          width: 20%;
        }
        #{$contents}__text-wrapper {
          width: 75%;
        }
        &:nth-child(1) {
          position: relative;
          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: -30px;
            left: 0;
            width: calc(100%);
            height: 1px;
            background: #000;
          }
        }
      }
    }
  }
}

//hoverの動き
.p-header-contents {
  &::before {
    background-color: rgba(129, 247, 133, 0.3);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
    transform: scaleY(0);
    transform-origin: center top;
    transition: all 0.2s;
  }
}

.p-header__item--arrow a {
  &:hover {
    + .p-header-contents {
      &::before {
        visibility: visible;
        opacity: 1;
        transform-origin: center top;
        transform: scaleY(1);
        transition: all 0.3s;
        z-index: -2;
      }
    }
  }
}

.p-header-contents {
  visibility: hidden;
  opacity: 0;
}

.p-header-contents__inner {
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -2;
  transition: all 0.2s;
}

.p-header__item--arrow a {
  &:hover {
    + .p-header-contents .p-header-contents__inner {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition-duration: 0.1s;
      transition: all 0.2s;
      z-index: 1;
    }
  }
}

.is__stay {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  z-index: 1;

  &::before {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
  }
}

.is__visible {
  visibility: visible;
  opacity: 1;
}

.is__hover {
  &::after {
    transform: rotate(-90deg) !important;
  }
}

//
//
//ハンバーガーメニュー//
//
//

.c-burger {
  z-index: 5;

  span {
    display: block;
    height: 1px;
    width: 30px;
    background-color: #000;
    transition: 0.1s;

    &:nth-child(1) {
      margin-bottom: 8px;
    }
    &:nth-child(2) {
      margin-bottom: 8px;
    }
  }
}
//開いたとき（is__activeの有無で管理）
.is__active {
  height: 24px;
  position: relative;
  span {
    &:nth-child(1) {
      position: absolute;
      top: 50%;
      margin-bottom: 0;
      transform: rotate(30deg);
      transition: 0.3s;
    }
    &:nth-child(2) {
      opacity: 0;
      margin-bottom: 0;
      transition: 0.3s;
    }
    &:nth-child(3) {
      position: absolute;
      top: 50%;
      margin-bottom: 0;
      transform: rotate(-30deg);
      transition: 0.3s;
    }
  }
}

.c-burger-view {
  $block: &;

  //左に隠れている
  position: fixed;
  top: 0;
  left: -200%;
  z-index: 3;

  //画面全体をc-burger-viewにする
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  transition: all 0.6s;

  #{$block}__menu {
    @include position.center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    #{$block}__nav {
      #{$block}__list {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    #{$block}__item {
      text-align: center;
      a {
      }
    }
    #{$block}__btn {
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 25px;
      padding-right: 77px;
      border-radius: 10px;
      text-align: left;

      position: relative;
      &::before {
        position: absolute;
        content: "";
        vertical-align: middle;
        right: 24px;
        top: 50%;
        width: 12px;
        height: 1px;
        background: #ffffff;
        &:focus,
        &:hover {
          background: #81f785;
        }
      }

      &::after {
        position: absolute;
        content: "";
        right: 24px;
        top: 45%;
        width: 6px;
        height: 6px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg);
      }

      &:focus,
      &:hover {
        &::before {
          background: #81f785;
        }
        &::after {
          border-top: 1px solid #81f785;
          border-right: 1px solid #81f785;
        }
      }
    }
  }
}

.is__open {
  left: 0;
  transition: all 0.6s;
}

.c-bgc {
  background-color: rgba(129, 247, 133, 0.3);
}
