@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.fixedClass {
  color: #ffffff;
}

.p-header {
  $block: &;

  &__inner {
    display: flex;

    justify-content: space-between;
    align-items: center;
    #{$block}__logo {
    }
    #{$block}__burger {
      z-index: 5;

      span {
        display: block;
        height: 2px;
        width: 30px;
        background-color: #000;
        transition: 0.5s;

        &:nth-child(1) {
          margin-bottom: 8px;
        }
        &:nth-child(2) {
          margin-bottom: 8px;
        }
      }
    }
    .is__active {
      span {
        background-color: #ffffff;
        transition: 0.5s;
        &:nth-child(1) {
          margin-bottom: 18px;
          transform: rotate(30deg) translate(8px, 8px);
        }
        &:nth-child(2) {
          opacity: 0;
          margin-bottom: 0;
        }
        &:nth-child(3) {
          margin-bottom: 0;
          transform: rotate(-30deg) translate(8px, -8px);
        }
      }
    }

    #{$block}-pc {
      #{$block}__nav {
        display: flex;
        align-items: center;
        #{$block}__list {
          display: flex;
          align-items: center;
          #{$block}__item {
            a {
              @include responsive.responsive(lg) {
                @include font.DIN-bold;
                font-size: rem.rem(15px);
                letter-spacing: 0.06em;
                line-height: 1;
              }
            }
          }
        }
        #{$block}__btn {
          a {
            display: inline-block;
            padding-top: 12px;
            padding-bottom: 12px;
            width: 111px;
            letter-spacing: 0.06em;
            line-height: 1;
          }
        }
      }
    }
  }
  &--fixed {
    #{$block}__logo {
      color: #ffffff;
    }
    #{$block}__item a {
      color: #ffffff;
    }
    #{$block}__btn {
      a {
        color: #142474;
        background-color: #ffffff;
      }
    }
    #{$block}__burger {
      span {
        background-color: #ffffff;
      }
    }
  }
}

.is__fixed {
  overflow: hidden;
}

.p-burger-view {
  $block: &;

  position: fixed;
  top: 0;
  left: -200%;
  z-index: 3;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 20, 83, 0.8);
  backdrop-filter: blur(3px);
  transition: all 0.6s;

  #{$block}__menu {
    @include position.center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    #{$block}__logo {
      color: #ffffff;
    }
    #{$block}__nav {
      #{$block}__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        #{$block}__item {
          a {
            display: inline-block;
            @include font.DIN-bold;
            font-size: rem.rem(15px);
            letter-spacing: 0.06em;
            line-height: 1;
            text-align: center;
            color: #ffffff;
          }
        }
      }

      #{$block}__btn {
        a {
          display: inline-block;
          padding-top: 12px;
          padding-bottom: 12px;
          width: 111px;
          font-weight: 700;
          letter-spacing: 0.06em;
          line-height: 1;
          color: #142474;
          background-color: #ffffff;
        }
      }
    }
  }
}

.is__open {
  left: 0;
  transition: all 0.6s;
}
