@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

// .random-demo {
//   width: 100%;
//   height: 100vh;
// }
.p-mv-round {
  position: absolute;
  z-index: -3;

  &-purple1 {
    top: 0;
    left: 0;

    top: 30%;
    left: 30%;
    width: 90px;
    height: 90px;
    @include responsive.responsive(lg) {
      width: 180px;
      height: 180px;
    }
    img {
    }
  }
  &-purple2 {
    top: 0%;
    left: 50%;

    top: 30%;
    left: 50%;
    width: 160px;
    height: 160px;
    @include responsive.responsive(xxl) {
      width: 360px;
      height: 360px;
    }
    img {
    }
  }
  &-purple3 {
    top: 25%;
    left: 10%;

    top: 50%;
    left: 30%;
    width: 196px;
    height: 196px;
    @include responsive.responsive(xxl) {
      width: 400px;
      height: 400px;
    }
    img {
    }
  }

  &-yellow {
    top: 50%;
    left: 50%;

    top: 50%;
    left: 50%;
    width: 235px;
    height: 235px;
    @include responsive.responsive(xxl) {
      width: 400px;
      height: 400px;
    }
    img {
    }
  }
}

.p-mv {
  $block: &;
  position: relative;
  width: 100%;
  height: calc(100vh + 160px);
  overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  @include responsive.responsive(lg) {
    height: calc(100vh + 200px);
  }
  &__inner {
    position: relative;
    width: 100%;
    height: calc(100vh);
    overflow: hidden;
    #{$block}__message {
      &--sp {
        position: absolute;
        left: 40px;
        bottom: 210px;
        @include font.gothic-bold;
        font-size: rem.rem(25px);
        letter-spacing: 0.15em;
        line-height: 1;

        #{$block}__text--primary {
        }
        #{$block}__text__secondary {
        }
        #{$block}__text__tertiary {
        }
        #{$block}__p-mv__text__quaternary {
        }
      }

      &--tab {
        display: none;
        @include responsive.responsive(md) {
          display: block;
        }
        @include responsive.responsive(xl) {
          display: none;
        }
        position: absolute;
        left: 40px;
        bottom: 210px;
        @include font.gothic-bold;
        font-size: rem.rem(30px);
        letter-spacing: 0.15em;
        line-height: 1;

        #{$block}__text--primary {
        }
        #{$block}__text__secondary {
        }
        #{$block}__text__tertiary {
        }
      }

      &--pc {
        position: absolute;
        left: 140px;
        bottom: 300px;
        @include font.gothic-bold;
        font-size: rem.rem(35px);
        letter-spacing: 0.15em;
        line-height: 1;
        #{$block}__text--primary {
        }
        #{$block}__text__secondary {
        }
      }
    }
    #{$block}__scroll {
      position: absolute;
      right: 63px;
      bottom: 70px;
      &__text {
        position: relative;
        @include font.DIN;
        font-size: rem.rem(16px);
        letter-spacing: 0.05em;
        line-height: 1;
        writing-mode: vertical-lr;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          bottom: -35px;
          left: 50%;
          transform: translateY(50%);
          width: 1px;
          height: 50px;
          background: #142474;
        }
      }
    }
  }
}
