@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.p-our-promise {
  $block: &;
  &__inner {
    @include responsive.responsive(xl) {
      display: flex;
      justify-content: start;
      margin-left: calc(100% * 60 / 1366);
    }
    #{$block}__img-area {
      @include responsive.responsive(md) {
      }
      @include responsive.responsive(xl) {
        width: calc(100% * (381) / 1366);
      }

      #{$block}__img {
        &--big {
          width: calc(100% * 281 / 390);
          @include responsive.responsive(xl) {
            width: calc(100%);
          }
        }
        &--small {
          position: relative;
          z-index: 1;
          width: calc(100% * 204 / 390);
          margin-top: calc(100% * (-120) / 390);
          margin-left: calc(100% * (186) / 390);
          @include responsive.responsive(lg) {
            margin-left: calc(40%);
          }
          @include responsive.responsive(xl) {
            width: calc(100% * 277 / 381);
          }
          @include responsive.responsive(xxl) {
          }
        }
      }
    }
    #{$block}__text-area {
      width: calc(100% * 350 / 390);
      margin-right: auto;
      margin-left: auto;
      @include responsive.responsive(lg) {
        width: calc(65%);
        margin-right: 60px;
      }
      @include responsive.responsive(xl) {
        width: calc(100% * 938 / 1300);
        margin-right: 0px;
        padding-top: 70px;
        margin-left: 0;
      }
      .c-heading {
        border-top: 1px solid #c6c6c6;
        border-bottom: 1px solid #c6c6c6;
        padding-top: 25px;
        padding-bottom: 25px;

        @include responsive.responsive(xl) {
          padding-top: 50px;
          padding-bottom: 50px;
          padding-left: 170px;
        }
        @include responsive.responsive(xxl) {
          padding-left: 230px;
        }
        &::before {
          width: calc(100% + 40px);
          left: -20px;
        }
        &::after {
          width: calc(100% + 40px);
          left: -20px;
        }
      }
      .span {
        padding-left: 20px;
      }
    }
    #{$block}__text-body {
      @include responsive.responsive(xl) {
        width: calc(63%);
        margin-left: calc(24%);
      }

      @include responsive.responsive(xxl) {
        width: calc(100% * 466 / 938);
        margin-left: calc(100% * 325 / 938);
      }
    }
  }
}
