@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;
@use "../../utility/vw" as vw;

.p-works__wrapper {
  border-radius: 0 20px 20px 0;
  @include responsive.responsive(lg) {
    border-radius: 0 120px 120px 0;
  }
}
.p-works {
  $block: &;

  width: calc(100% * 370 / 390);
  @include responsive.responsive(lg) {
    width: calc(100% * 1142 / 1366);
  }
  #{$block}__inner {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-left: calc(100% * 80 / 370);
    // padding-right: 30px;
    // padding-right: calc(100% * 30 / 390);
    // width: calc(100% * 370 / 390);

    @include responsive.responsive(lg) {
      padding-top: 123px;
      padding-bottom: 123px;
      padding-left: 380px;
      padding-left: calc(100% * 380 / 1140);
      // padding-right: 30px;
      // padding-right: calc(100% * 30 / 1366);
      // width: calc(100% * 1142 / 1366);
    }

    #{$block}__heading {
      display: flex;
      position: absolute;
      left: 20px;
      top: -15px;

      @include responsive.responsive(lg) {
        left: 80px;
        top: -25px;
      }

      &--en {
        writing-mode: vertical-rl;
        position: relative;
        &::before {
          content: "∞";
          display: inline-block;
          position: absolute;
          top: -12px;
          right: -12px;
          font-size: rem.rem(12px);

          @include responsive.responsive(lg) {
            top: -24px;
            right: -24px;
            font-size: rem.rem(24px);
          }
        }
      }
      &--jp {
        padding-top: 32px;
        @include responsive.responsive(lg) {
          padding-top: 48px;
        }
        writing-mode: vertical-rl;
      }
    }
    #{$block}__body {
      // @include responsive.responsive(lg) {
      //   padding-left: calc(100% * 300 / 1023);
      // }

      #{$block}__intro {
        display: flex;
        flex-direction: column;
        width: calc(100% * 850 / 1023);
        @include responsive.responsive(xxl) {
          flex-direction: row;
          justify-content: space-between;
          width: calc(100% * 850 / 723);
          max-width: 1300px;
        }

        #{$block}__btn-unit {
          @include responsive.responsive(lg) {
            display: flex;
            align-items: center;
          }

          #{$block}__arrow-unit {
            display: inline-flex;
            margin-right: 30px;
            #{$block}__arrow {
              display: inline-block;
              position: relative;
              width: 50px;
              height: 50px;
              border: 2px solid #142474;
              border-radius: 50%;

              &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;

                transform: translateX(-50%);
                margin: auto;
                width: 10px;
                height: 10px;
                border-top: 2px solid #142474;
                border-right: 2px solid #142474;
              }
              &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                margin: auto;
                width: 20px;
                height: 2px;
                background: #142474;
              }

              &-left {
                &::before {
                  right: 50%;
                  transform: rotate(225deg);
                }
                &::after {
                }
              }
              &-right {
                &::before {
                  left: 50%;
                  transform: rotate(45deg);
                }
                &::after {
                }
              }
            }
          }
          #{$block}__btn {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 25px;
            width: 140px;

            @include responsive.responsive(lg) {
              padding-top: 15px;
              padding-bottom: 15px;
              padding-right: 25px;
              width: 170px;
            }

            &::before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              width: 10px;
              height: 10px;
              margin: auto;
              right: 20px;
              transform: rotate(45deg);
              border-top: 2px solid #ffffff;
              border-right: 2px solid #ffffff;
            }
            &::after {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              right: 10px;
              transform: translateX(-50%);
              margin: auto;
              width: 20px;
              height: 2px;
              background: #ffffff;
            }

            &-left {
              &::before {
                right: 50%;
                transform: rotate(225deg);
              }
              &::after {
              }
            }
            &-right {
              &::before {
                left: 50%;
                transform: rotate(45deg);
              }
              &::after {
              }
            }
            &:focus:before,
            &:hover:before,
            &:focus:after,
            &:hover:after {
              border-top: 2px solid #142474;
              border-right: 2px solid #142474;
            }
          }
        }
      }

      #{$block}__card-unit {
        // overflow: hidden;
        display: flex;

        width: calc(100vw - 100vw * 80 / 390);

        // @include responsive.responsive(lg) {
        //   width: calc(50% + 50vw - 100% * 240 / 960);
        // }
        @include responsive.responsive(lg) {
          width: calc(100vw - 100vw * 390 / 1366);
        }
        .swiper-wrapper {
          // padding-left: 800px;
          // margin-left: auto;
          // transform: translate3d(0, 0, 0) !important;

          width: calc(100vw - 100vw * 80 / 390);
          @include responsive.responsive(lg) {
            width: calc(50% + 50vw - 100% * 240 / 960);
          }
          @include responsive.responsive(lg) {
            width: calc(100vw - 100vw * 380 / 1366);
          }
        }

        .add {
          transform: translate3d(450, 0, 0) !important;
        }
        #{$block}__card {
          display: inline-block;
          width: calc(100% * 260 / 310) !important;
          width: calc(100vw * 260 / 390) !important;
          margin-right: 20px;

          @include responsive.responsive(lg) {
            width: calc(100% * 400 / 986) !important;
            width: calc(100vw * 400 / 1366) !important;
            margin-right: 50px;
          }
          // @include responsive.responsive(xl) {
          //   width: calc(
          //     100% * 400 / (50% + 50vw - 100% * 115 / 1366)
          //   ) !important;
          // }
          #{$block}__card__img-wrapper {
            img {
              width: 100%;
            }
          }
          #{$block}__card__body {
            #{$block}__card__title {
            }
            #{$block}__card__list {
              display: inline-flex;
              align-items: flex-start;
              flex-direction: column;
              @include responsive.responsive(xxl) {
                flex-direction: row;
              }
              #{$block}__card__item {
                display: inline-block;
                padding-top: 3px;
                padding-right: 15px;
                padding-bottom: 3px;
                padding-left: 15px;
                border-radius: 30px;
                border: 1px solid #142474;
              }
            }
          }
        }
      }
      #{$block}__btn-unit--under {
        position: relative;
        #{$block}__btn {
          position: absolute;
          top: 28px;
          right: 12px;
          padding-top: 12px;
          padding-bottom: 12px;
          padding-right: 25px;
          width: 140px;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 10px;
            height: 10px;
            margin: auto;
            right: 20px;
            transform: rotate(45deg);
            border-top: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 7px;
            transform: translateX(-50%);
            margin: auto;
            width: 20px;
            height: 2px;
            background: #ffffff;
          }

          &-left {
            &::before {
              right: 50%;
              transform: rotate(225deg);
            }
            &::after {
            }
          }
          &-right {
            &::before {
              left: 50%;
              transform: rotate(45deg);
            }
            &::after {
            }
          }
        }
      }
    }
  }
}
