@use "../utility/responsive" as responsive;
@use "../utility/vw" as vw;
@use "../utility/rem" as rem;

.l-cont {
  padding-bottom: 160px;
  @include responsive.responsive(lg) {
  }
  //inner
  &__inner {
    max-width: calc(1360px);
    // padding-right: vw.vw(20px);
    // padding-left: vw.vw(20px);
    margin-right: auto;
    margin-left: auto;

    // @include responsive.responsive(lg) {
    //   padding-right: 20px;
    //   padding-left: 20px;
    //   max-width: calc(1360px + 20px * 2);
    // }
  }
}
