@use "../utility/responsive" as responsive;
@use "../utility/vw" as vw;
@use "../utility/rem" as rem;

.l-cont {
  //inner
  &__inner {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
  }

  &--ourpromise {
    padding-bottom: 290px;
    @include responsive.responsive(lg) {
      padding-bottom: 432px;
    }
  }

  &--service {
    padding-bottom: 325px;
    @include responsive.responsive(lg) {
      padding-bottom: 376px;
    }
  }
  &--business {
    padding-bottom: 180px;
    @include responsive.responsive(lg) {
      padding-bottom: 228px;
    }
  }
  &--contact {
    padding-bottom: 40px;
    @include responsive.responsive(lg) {
      padding-bottom: 70px;
    }
  }
}
