@use "../utility/responsive" as responsive;
@use "../utility/vw" as vw;
@use "../utility/rem" as rem;

.l-cont {
  padding-bottom: 160px;
  @include responsive.responsive(lg) {
    padding-bottom: 200px;
  }
  //inner
  &__inner {
    padding-right: vw.vw(20px);
    padding-left: vw.vw(20px);
    margin-right: auto;
    margin-left: auto;

    @include responsive.responsive(lg) {
      padding-right: 20px;
      padding-left: 20px;
      max-width: calc(1360px + 80px * 2);
    }
  }
  //feature
  &--feature {
    // padding-top: 160px;
    @include responsive.responsive(lg) {
      //   padding-top: 200px;
    }

    &__inner {
      @include responsive.responsive(lg) {
        padding-right: vw.vw(20px);
        padding-left: vw.vw(20px);
        width: calc(85%);
      }
      @include responsive.responsive(xl) {
        padding-right: 20px;
        padding-left: 20px;
        width: calc(100% * 940 / 1360);
        max-width: calc(900px + 40px);
      }
    }
  }

  //works
  &--works {
    &__inner {
      // padding-right: vw.vw(20px);
      padding-right: 0;
      padding-left: 0;
      max-width: 100%;

      @include responsive.responsive(lg) {
        padding-right: 0px;
        padding-left: 0px;
      }
    }
  }

  // contact

  &--contact {
    padding-top: 0px;
    padding-bottom: 0px;
    @include responsive.responsive(lg) {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    &__inner {
      padding-right: 0;
      padding-left: 0;
      max-width: 100%;

      @include responsive.responsive(lg) {
      }
      @include responsive.responsive(xl) {
      }
    }
  }
}

.l-cont {
  // &-- {
  //   padding-top: 147px;
  //   padding-bottom: 148px;
  //   @include responsive.responsive(lg) {
  //     padding-top: 108px;
  //     padding-bottom: 310px;
  //   }
  // }

  //inner
  &__inner {
    // padding-right: vw.vw(20px);
    // padding-left: vw.vw(20px);

    // @include responsive.responsive(lg) {
    //   padding-right: 20px;
    //   padding-left: 20px;
    //   margin-right: auto;
    //   margin-left: auto;
    //   max-width: calc(1366px + 80px * 2);
    // }
  }
}
