@use "../utility/responsive" as responsive;
@use "../utility/vw" as vw;
@use "../utility/rem" as rem;

.l-footer {
  padding-bottom: 84px;
  @include responsive.responsive(xl) {
    padding-bottom: 47px;
  }
  &__inner {
    max-width: calc(1360px);
    margin-right: auto;
    margin-left: auto;
  }
}
