@use "../utility/responsive" as responsive;
@use "../utility/vw" as vw;
@use "../utility/rem" as rem;

.l-header {
  position: fixed;
  z-index: 5;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  backdrop-filter: blur(3px);
  &__inner {
    width: calc(100% * 350 / 390);
    margin: auto;
  }
}
