@use "../utility/responsive" as responsive;
@use "../utility/vw" as vw;
@use "../utility/rem" as rem;
@use "../utility/position" as center;

.l-mv {
  padding-top: 70px;
  padding-bottom: 96px;
  @include responsive.responsive(xl) {
    padding-top: 0px;
    padding-bottom: 0;
  }
  @include responsive.responsive(xxl) {
    padding-bottom: 246px;
  }
  //inner
  &__inner {
    margin-right: auto;
    margin-left: auto;

    @include responsive.responsive(lg) {
      // padding-right: 20px;
      // padding-left: 20px;
      // max-width: calc(1366px + 20px * 2);
    }
  }
}
