*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  body {
    color: #1a1a1a;
    position: relative;

    ::selection {
      background: #dae7f7;
    }
    a {
      text-decoration: none;
      color: #000000;
      transition: 0.3s;

      &:hover {
        transition: 0.3s;
      }
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}
