@use "../../../utility/flex" as flex;
@use "../../../utility/responsive" as responsive;
@use "../../../utility/position" as position;
@use "../../../utility/align" as align;
@use "../../../utility/rem" as rem;
@use "../../../utility/font" as font;
@use "../../../utility/vw" as vw;

.p-about__round {
  &-unit {
    position: absolute;
    top: 150px;
    right: -70px;
    @include responsive.responsive(xxl) {
      right: -40px;
    }
  }
  position: relative;
  width: 307px;
  height: 277px;
  animation: rotate-anime 10s linear infinite;

  &__small {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-color: rgba(17, 69, 138, 0.5);
  }
  &__large {
    position: absolute;
    top: 86px;
    left: 116px;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    background-color: rgba(20, 36, 116, 0.6);
  }

  @keyframes rotate-anime {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.p-about-us {
  $block: &;
  position: relative;

  #{$block}__inner {
    #{$block}__heading {
      &--en {
      }
      &--jp {
      }
    }
    #{$block}__body {
      width: calc(100%);

      @include responsive.responsive(xl) {
        width: calc(100% * 600 / 960);
      }
      @include responsive.responsive(xxl) {
        width: calc(100% * 500 / 900);
      }
      dl {
        display: flex;

        dt {
          width: calc(100% * 110 / 350);
          padding-top: 30px;
          padding-bottom: 30px;
          border-top: 2px solid #142474;

          @include responsive.responsive(lg) {
            width: calc(100% * 100 / 500);
          }
          @include responsive.responsive(xl) {
            width: calc(100% * 100 / 500);
          }
        }
        dd {
          width: calc(100% * 240 / 350);
          padding-top: 30px;
          padding-bottom: 30px;
          padding-left: 30px;
          border-top: 1px solid rgba(129, 129, 129, 0.18);
          line-height: 1;
          @include responsive.responsive(lg) {
            width: calc(100% * 400 / 500);
            padding-left: 40px;
          }
          @include responsive.responsive(xl) {
            width: calc(100% * 400 / 500);
            padding-left: 40px;
          }
        }

        &:last-of-type {
          dt {
            border-bottom: 2px solid #142474;
          }
          & {
            border-bottom: 1px solid rgba(129, 129, 129, 0.18);
          }
        }
      }
    }
  }
}
