@use "../../../utility/flex" as flex;
@use "../../../utility/responsive" as responsive;
@use "../../../utility/position" as position;
@use "../../../utility/align" as align;
@use "../../../utility/rem" as rem;
@use "../../../utility/font" as font;
@use "../../../utility/vw" as vw;

.p-contact {
  $block: &;
  position: relative;

  &-page__wrapper {
    background-color: rgba(20, 36, 116, 0.1);
  }
  #{$block}-page {
    #{$block}__inner {
      max-width: 900px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      #{$block}__heading {
        position: relative;

        &--en {
          span {
            &::after {
              position: absolute;
              content: "";
              display: inline-block;
              top: 13px;
              left: 125px;

              width: 18px;
              height: 12px;
              background-image: url(../img/mail-page.svg);
              background-size: cover;
              vertical-align: middle;
              @include responsive.responsive(lg) {
                top: 15x;
                left: 200px;
                width: 27px;
                height: 18px;
              }
            }
          }
        }
        &--jp {
        }
      }
      #{$block}__body {
        width: calc(100% * 310 / 390);
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
        padding-bottom: 100px;

        @include responsive.responsive(lg) {
          width: 100%;
          max-width: 900px;
          padding-top: 100px;
          padding-bottom: 100px;
        }
        #{$block}__input {
          @include responsive.responsive(lg) {
            width: calc(100% * 700 / 900);
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
          }
          #{$block}__primary {
            // @include responsive.responsive(lg) {
            //   @include responsive.responsive(lg) {
            //     width: calc((100% - 50px / 2) / 2);
            //   }
            // }
          }
          #{$block}__secondary {
            // @include responsive.responsive(lg) {
            //   width: calc((100% - 50px / 2) / 2);
            // }
          }
          #{$block}__item {
            @include responsive.responsive(lg) {
              display: flex;
            }

            #{$block}__title {
              @include responsive.responsive(lg) {
                width: calc(100% / 2);
              }
              @include font.gothic-bold;
              font-size: rem.rem(14px);
              letter-spacing: 0.1em;
              line-height: 1;

              @include responsive.responsive(lg) {
                font-size: rem.rem(17px);
                letter-spacing: 0.1em;
                line-height: 1;
              }
            }
            #{$block}__textbox {
              @include responsive.responsive(lg) {
                width: calc(100% / 2);
              }
              height: 40px;
              background-color: #ffffff;
            }
            #{$block}__textarea {
              @include responsive.responsive(lg) {
                width: calc(100% / 2);
              }

              height: 140px;
              background-color: #ffffff;
              @include responsive.responsive(lg) {
                height: 240px;
              }
            }
          }
        }

        #{$block}__btn-unit {
          text-align: center;

          #{$block}__btn {
            padding-top: 20px;
            padding-bottom: 20px;
            max-width: 100%;
            width: 250px;
            color: #ffffff;
            background-color: #142474;

            @include responsive.responsive(lg) {
              width: 300px;
            }
          }
        }
      }
    }
  }
}
