@use "../../../utility/flex" as flex;
@use "../../../utility/responsive" as responsive;
@use "../../../utility/position" as position;
@use "../../../utility/align" as align;
@use "../../../utility/rem" as rem;
@use "../../../utility/font" as font;
@use "../../../utility/vw" as vw;

.p-works-page {
  $block: &;
  position: relative;

  #{$block}__inner {
    #{$block}__heading {
      &--en {
      }
      &--jp {
      }
    }
    #{$block}__body {
      margin-left: auto;
      margin-right: auto;
      width: calc(100% * 330 / 350);

      @include responsive.responsive(xl) {
        padding-left: 80px;
        padding-right: 80px;
        margin-right: calc(50% - 50vw);
        margin-left: calc(50% - 50vw);
        width: 100vw;
      }
      @include responsive.responsive(xxl) {
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
      }

      #{$block}__media {
        width: 100%;
        @include responsive.responsive(xl) {
          display: flex;
          justify-content: space-between;
          // justify-content: space-between;
        }
        // @include responsive.responsive(xl) {
        //   display: flex;
        //   width: 80%;
        // }
        @include responsive.responsive(xxl) {
          // // display: flex;
          // width: 100%;

          //   justify-content: space-between;
          // }
          #{$block}__img-wrapper {
            @include responsive.responsive(xl) {
              width: calc(50%);
              // width: calc(100% * 590 / 900);
            }

            @include responsive.responsive(xxl) {
              width: calc(60%);
            }
            @media screen and (min-width: 1300px) {
              width: calc(100% * 590 / 900);
            }
          }

          // @include responsive.responsive(lg) {
          //   width: calc(100% * 590 / 900);
          // }
        }

        #{$block}__text-wrapper {
          @include responsive.responsive(xl) {
            width: calc(50%);
            // width: calc(100% * 310 / 900);
          }

          @include responsive.responsive(xxl) {
            width: calc(40%);
          }

          @media screen and (min-width: 1360px) {
            width: calc(100% * 310 / 900);
          }
          // @include responsive.responsive(xxl) {
          //   padding-left: calc(100% * 40 / 900);
          // }
          #{$block}__text-unit {
            @include responsive.responsive(lg) {
              padding-left: calc(8%);
            }
            @include responsive.responsive(xl) {
              padding-left: calc(11%);
            }
            @include responsive.responsive(xxl) {
              padding-left: calc(100% * 35 / 310);
            }
            #{$block}__site {
              p {
                @include font.gothic-bold;
                font-size: rem.rem(20px);
                letter-spacing: 0em;
                line-height: 1;

                @include responsive.responsive(lg) {
                  font-size: rem.rem(24px);
                  letter-spacing: 0em;
                  line-height: 1;
                }
              }
            }
            #{$block}__content {
              #{$block}__title {
              }
              #{$block}__desc {
                padding-left: 5px;
                position: relative;
                &::before {
                  content: "";
                  display: inline-block;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);

                  width: 2px;
                  height: 2px;
                  background: #363636;
                }

                p {
                  line-height: 1;
                }
              }
              #{$block}__list {
                #{$block}__item {
                  padding-left: 15px;
                  position: relative;
                  &::before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 7px;
                    transform: translateY(-50%);

                    width: 5px;
                    height: 1px;
                    background: #363636;
                  }
                  @include font.gothic;
                  font-size: rem.rem(12px);
                  letter-spacing: 0em;
                  line-height: 1;

                  @include responsive.responsive(lg) {
                    padding-left: 17px;
                  }
                }
              }
            }

            #{$block}__link-unit {
              text-align: right;
              @include responsive.responsive(lg) {
                text-align: center;
              }
              @include responsive.responsive(xl) {
                text-align: right;
              }
              #{$block}__link {
                margin-left: auto;
                position: relative;

                &::before {
                  content: "";
                  display: inline-block;
                  position: absolute;
                  bottom: 0px;
                  left: 0;
                  width: calc(100%);
                  height: 1px;
                  background: #363636;
                }
                @include font.gothic-bold;
                font-size: rem.rem(13px);
                letter-spacing: 0.1em;
                line-height: 1;

                @include responsive.responsive(lg) {
                  font-size: rem.rem(16px);
                  letter-spacing: 0.1em;
                  line-height: 1;
                }
                @include responsive.responsive(lg) {
                }
              }
            }
          }
        }
      }

      #{$block}__media {
        &:nth-of-type(2n) {
          margin-left: auto;
          @include responsive.responsive(lg) {
            margin-left: 0;
          }
        }
      }
    }
  }
}
