@use "../../../utility/flex" as flex;
@use "../../../utility/responsive" as responsive;
@use "../../../utility/position" as position;
@use "../../../utility/align" as align;
@use "../../../utility/rem" as rem;
@use "../../../utility/font" as font;
@use "../../../utility/vw" as vw;

.p-works-page {
  &__inner {
    @include responsive.responsive(xl) {
      display: flex;
      justify-content: space-between;
      width: calc(100% * 960 / 1100);
      margin-right: auto;
      margin-left: auto;
    }

    .c-page-title {
      @include responsive.responsive(xl) {
        width: calc(100% * 392 / 960);
      }
    }
  }

  .c-horizontal-table {
    @include responsive.responsive(xl) {
      width: calc(100% * 568 / 960);
    }

    &__inner {
      margin-right: auto;
      margin-left: auto;
      max-width: 500px;
    }
    &__header {
      width: calc(100% * 140 / 350);
      @include responsive.responsive(xl) {
        width: calc(100% * 184 / 568);
      }
    }
    &__text {
      width: calc(100% * 210 / 350);
      padding-left: 16px;
      @include responsive.responsive(xl) {
        width: calc(100% * 384 / 568);
      }
    }
  }
  .c-page-title__jp {
    line-height: calc(37 / 22);
  }
  .c-page-text {
    font-size: rem.rem(15px);
  }
}
